---
import { getCollection, type CollectionEntry } from 'astro:content';

import H1 from '@components/base/H1.astro';
import Link from '@components/links/Link.astro';
import Layout from '@layouts/Layout.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');

  return posts.map((post) => ({
    params: {
      slug: post.slug,
    },
    props: { post },
  }));
}

const post: CollectionEntry<'blog'> = Astro.props.post;

const { Content } = await post.render();

export const prerender = true;
---

<Layout title='jjojoj'>
  <Link href='/blog'>⇠ Back to blog</Link>

  <article class='prose prose-lg my-16'>
    <H1>{post.data.title}</H1>

    <Content />
  </article>
</Layout>
