---
import type { Tables } from '@config/supabase.types.ts';

import H1 from '@components/base/H1.astro';

interface Props {
  campaign: Tables<'campaigns'>;
}

const { campaign } = Astro.props;
---

<H1>{campaign.title}</H1>
<p>{campaign.description}</p>
<p>Goal: {campaign.goal}$</p>
