---
import type { Tables } from '@config/supabase.types.ts';
import { getJson } from '@services/fetchAPI';

import Dropdown from '@components/campaign/react/Dropdown.tsx';
import H2 from '@components/base/H2.astro';
import Section from '@components/base/Section.astro';

interface Props {
  campaign: Tables<'campaigns'>;
}
const { campaign } = Astro.props;

const questions: Tables<'questions'>[] = await getJson(
  `${Astro.url.origin}/api/campaign/${campaign.id}/questions`
);
---

<div class='w-full lg:w-2/3'>
  <Section>
    <H2>Q&A</H2>
    <div class='flex flex-col gap-4 mt-4'>
      {
        questions?.map(({ title, content }) => (
          <Dropdown client:only='react' {title} {content} />
        ))
      }
    </div>
  </Section>
</div>
