---
import H2 from '@components/base/H2.astro';
import Section from '@components/base/Section.astro';
---

<Section>
  <H2>Story</H2>
  <div class='prose prose-lg'>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos deserunt
      possimus quaerat porro harum dicta libero vero molestias rem. Quae,
      ratione! Alias mollitia architecto fugiat natus earum minima repellat
      excepturi.
    </p>
    <p>
      Quos inventore, suscipit eligendi nihil ipsa atque aperiam quidem sapiente
      iure dolorem iusto obcaecati, molestiae laborum architecto eveniet dolores
      voluptas sint voluptates, impedit repudiandae quisquam! Soluta illum alias
      excepturi officiis.
    </p>
  </div>
</Section>
