---
import type { Tables } from '@config/supabase.types.ts';

interface Props {
  campaigns: Tables<'campaigns'>[];
}

const { campaigns } = Astro.props;
---

<ul
  class='mt-8 flex flex-col gap-2 border rounded-xl shadow bg-stone-200 p-8 w-fit'
>
  {
    campaigns.map((campaign) => (
      <li>
        -
        <a href={`/campaign/${campaign.id}`} class='hover:text-green-500'>
          {campaign.title}
        </a>
      </li>
    ))
  }
</ul>
