---
import { Icon } from 'astro-icon/components';
---

<a href='/' aria-label='Home page' title='Home page' class=''>
  <Icon name='logo' class='h-10 w-10 hover:*:text-green-500' />
  <span class='sr-only'>Home</span>
</a>
