---
import { getJson } from '@services/fetchAPI';
import type { Tables } from '@config/supabase.types.ts';
import { getCollection } from 'astro:content';

import Layout from '@layouts/Layout.astro';
import CampaignsPreview from '@components/campaign/CampaignsPreview.astro';
import Hero from '@components/base/Hero.astro';
import PostsGrid from '@components/post/PostsGrid.astro';
import Section from '@components/base/Section.astro';
import H2 from '@components/base/H2.astro';
import Link from '@components/links/Link.astro';

const campaigns: Tables<'campaigns'>[] = await getJson(
  `${Astro.url.origin}/api/campaigns`
);
const posts = await getCollection('blog');
---

<Layout>
  <Hero />
  <CampaignsPreview {campaigns} />

  <Section>
    <H2>Latest Blog Posts</H2>
    <PostsGrid {posts} limit={3} />
    <Link href='/blog'>See all posts ⇢</Link>
  </Section>
</Layout>
