---
import Container from '@components/base/Container.astro';
import { FOOTER } from '@config/site';
import H3 from './H3.astro';
---

<footer class='bg-black text-white py-20'>
  <Container>
    <div
      class='grid grid-cols-2 gap-8 lg:grid-cols-4 border-b pb-8 border-gray-700 text-gray-300'
    >
      {
        FOOTER.map((menu) => {
          return (
            <div>
              <H3>{menu.title}</H3>
              <ul class='flex flex-col gap-2 mt-3'>
                {menu.items.map((item) => (
                  <li>{item}</li>
                ))}
              </ul>
            </div>
          );
        })
      }
    </div>

    <p class='pt-8 max-w-xl text-gray-400'>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur
      adipisci sunt est id ipsa quam, hic ex, doloremque autem possimus sit aut
      maxime natus quidem, tempore magnam a officia assumenda.
    </p>
  </Container>
</footer>
